<div class="partial-add-house-container">
  <h2 class="titles">Add New House</h2>
  <form id="addHouseForm" action="{{ url_for('add_house_post') }}" method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <select name="title" id="title" required>
      <option value="">-- House Title --</option>
      {% for title in titles %}
      <option value="{{ title }}">{{ title }}</option>
      {% endfor %}
    </select>

    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea>

    <label for="price">Rent (KES):</label>
    <input type="number" name="price" id="price" required />

    <label for="address">Address</label>
    <input type="text" name="address" id="address" required>

    <label for="area_id">Area:</label>
    <select name="area_id" id="area_id" required>
      <option value="">-- Select Area --</option>
      {% for area in areas %}
       <option value="{{ area.id}}">{{ area.name }}</option>
       {% endfor %}
       </select>

    <div id="map" style="height: 400px; margin-bottom: 1rem;"></div>
    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">

    <div id="street-view-container" style="height: 400px; margin-top: 1rem;">
      <iframe
      id="street-view-frame"
      width="100%"
      height="100%"
      frameborder = "0"
      style="border:0; border-radius: 8px;"
      allowfullscreen
      loading = "lazy"
      referrerpolicy="no-referrer-when-downgrade"
      
      ></iframe>
    </div>
    
    <label for="images">Upload at least 2 images:</label>
    <input type="file" name="images" id="images" multiple accept=".jpg, .jpeg, .png, .gif" required></br>
    <button type="submit" class="btn btn-submit">Submit</button>
  </form>
</div>
