<div class="partial-add-house-container">
  <h2 class="section-title">Add New House</h2>
  <form action="{{ url_for('add_house_post') }}" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required />

    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea>

    <label for="price">Rent (KES):</label>
    <input type="number" name="price" id="price" required />

    <label for="area_id">Area:</label>
    <select name="area_id" id="area_id" required>
      {% for area in areas %}
      <option value="{{ area.id }}">{{ area.name }}</option>
      {% endfor %}
    </select>

    <button type="submit" class="btn btn-submit">Submit</button>
  </form>
</div>
