<h2 class="section-title">Available Houses</h2>

<div class="house-list">
  {% for house in houses %}
  <div class="house-card">
      <h3>{{ house.title }}</h3>
      <p><strong>Owner:</strong> {{ house.owner_name }}</p>
      <p>
          {{ house.description[:150] }}{% if house.description|length > 150 %}...{% endif %}
      </p>

      {% if session.get('user_id') == 1 %}
          <a href="{{ url_for('available_houses', house_id=house.id) }}" class="view-link btn btn-primary">View Details</a>

      {% else %}
          <a href="{{ url_for('login') }}" class="view-link btn btn-primary">Login to see more</a>
      {% endif %}
  </div>
  {% endfor %}
</div>
