/* === base.css === */
:root {
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;

    --shadow-sm: 0 2px 4px rgba(10, 10, 10, 0.05);
    --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 4px 20px rgba(0, 0, 0, 0.1);

    --color-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-danger: linear-gradient(135deg, #e11d48, #be123c);
    --color-danger-hover: #c82333;
    --color-focus: rgba(79, 70, 229, 0.5);
}

.nav-link.logout {
  color: #f87171; /* soft red */
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-link.logout:hover {
  color: #fb7185; /* brighter red on hover */
  text-shadow: 0 0 5px #fb7185;
}

body {
    /*font-family: 'Segoe UI', sans-serif;*/
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
}
.body-lock{
    overflow: hidden;
    width: 100%;
}

h1, h2, h3 {
    margin: 0;
    color: #e2dada;
    text-align: center;
}

label {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #a61c4c;
}
        