/* === layout.css === */
/*area where houses are displayed, the container*/

.nav-links,
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.nav-link {
    color: #7aa2f7;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline overline;
    
}
.dashboard-header {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
    color: rgb(22, 21, 21);
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(5px);
    z-index: 9999;
}
main{
    margin-top: 70px;
    padding: 1rem;
    color: white;
}
.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fbbf24;
    text-align: center;
}
.titles {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #d6b4fc;
  letter-spacing: 1px;
}

.dashboard-main {
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh-70px);
  gap: 20px;
  padding: 20px;
}

.filter-sidebar {
  position: sticky;
  top: 70px;
  align-self: flex-start;
  width: 250px;
  height: fit-content;
  width: 250px;
  background-color: #252323;
  padding: 20px;
  border-radius: var(--radius-md);
  border: 1px solid #601010;
}

.filter-sidebar form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-sidebar select,
.filter-sidebar input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.filter-sidebar button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-sidebar button:hover {
  background-color: #0056b3;
}

.main-content {
  flex: 1;
  max-width: 100%;
  height: calc(100vh - 10px);
  overflow-y: auto;
  overflow-x: auto;
  padding: 1 rem;
  background: #121111;
  border-radius: var(--radius-1g);
}

