/* === layout.css === */
/*area where houses are displayed, the container*/
.container {
    margin: 10px 10px;
    padding: 2rem;
    background-image: url(../uploads/Boma.png);
    background-position: center;
    background-attachment: fixed;
    /*color: #121214;
    background-attachment: fixed;*/
}
.nav-links,
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.nav-link {
    color: #7aa2f7;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline overline;
    
}
.dashboard-header {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
    color: rgb(22, 21, 21);
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(5px);
    z-index: 9999;
}
main{
    margin-top: 40px;
    padding: 1rem;
    color: white;
}
.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fbbf24;
    text-align: center;
}
.titles {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #d6b4fc;
  letter-spacing: 1px;
}


